.jatektabla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: #f5deb3;
  }
  
  .kocka {
    background-color: #fff;
    border: 1px solid #000;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .kocka:hover {
    background-color: #e0cfaa;
  }
  
  .kocka.played-x {
    color: #f44336;
  }
  
  .kocka.played-o {
    color: #2196f3;
  }
  